@import url('http://fonts.cdnfonts.com/css/lilly');

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: linear-gradient(
    to right top,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  gap: 50px;
  height: 100vh;
}
h1 {
  font-family: 'Lilly', sans-serif;
  font-size: 50px;
}

.gen input {
  height: 35px;
  width: 250px;
  font-size: 20px;
  padding-left: 5px;
}

button {
  position: relative;
  margin-left: 3px;
  height: 38px;
  width: 100px;
  top: -2px;
  font-size: 18px;
  border: none;
  color: whitesmoke;
  background-color: forestgreen;
  box-shadow: 2px 2px 5px rgb(74, 182, 74);
  cursor: pointer;
}

button:active {
  box-shadow: none;
}

.extra-features {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.output-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
